&.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: red;
}
.hidden-gorilla {
    opacity: 0.0;
}

.visible-gorilla {
    opacity: 0.5;
}

.loading-base {
    transition: filter 0.25s ease;
}

.loading-blur {
    filter: blur(20px);
}

.loading-small-blur {
    filter: blur(5px);
}

