.redirect-container {
    background-color: #13293c;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width:92%;
    height:80%;
    margin-left: 2.5rem;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent items from wrapping to the next line */
    display: flex;
    align-items: center;
    scrollbar-width: thin;
    scrollbar-color: white #13293c;
}
.redirect-container::-webkit-scrollbar {
    height: 8px; /* Reduced height for a standard scrollbar size */
}

.redirect-container::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.redirect-container::-webkit-scrollbar-track {
    background: #13293c; /* Match the container background */
}
