/* Status */
.done {
    background-color: #316b5f;
}

.inference {
    background-color: #7c7097;
}

.crawler {
    background-color: #506f8e;
}

.not-started-yet {
    background-color: #647284;
}


/* OOD */
.not-ood {
    background-color: #316b5f;
}

.ood {
    background-color: #653846;
}

.not-inferenced-yet {
    background-color: #647284;
}


/* Inference */
.benign {
    background-color: #316b5f;
}

.malicious {
    background-color: #653846;
}

.url-ood {
    background-color: #71725f;
}

.not-inferenced-yet {
    background-color: #647284;
}

/* Enticement */
.gaming-streaming {
    background-color: #1e3a8a;
    width: 37%;
}

.job-scam {
    background-color: #8b7463;
    width: 20%;
}

.adult-content {
    background-color: #7c7097;
    width: 30%;
}

.business-ecommerce {
    background-color: #63888b;
    width: 30%;
}

.finance-banking {
    background-color: #7d5f72;
    width: 30%;
}

.romance-scam {
    background-color: #e11d48;
    width: 20%;
}

.other {
    background-color: #726f7a;
    width: 20%;
}