.scan-info {
    background-color: transparent;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    padding-left: 100px;
    text-align: flex-start;
    font-family: Arial, sans-serif;
}

.url {
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.details {
    font-size: 14px;
    margin-top: 10px;
}

.detail {
    margin: 5px 0;
}

.icon {
    display: flex;
    align-items: center;
}